<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col m4 s12">
          <p class="grey-text text-lighten-4">
          <img src="images/me.jpg" class="circle responsive-img">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio...
            <a href="{{pathFor 'about' }}">Read More</a>
          </p>
        </div>
        <div class="col m4 s12">
          <p class="grey-text text-lighten-4 center-align">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.
          </p>
        </div>
        <div class="col m3 s12">
          <p class="grey-text text-lighten-4 right-align">
            {{> blogLatest}}
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
        &copy; Copyright 2015 Chris Beard
      </div>
    </div>
  </footer>
</template>
