.contact-banner {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/contact.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 10em;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
	        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}