a.logo-text {
	margin-left: 3em;
	line-height: 1em;
	margin-top: 12px;
	text-transform: uppercase;
	font-size: 1.25em;
	span {
		font-size: 0.75em;
		font-weight: 300;
	}
}

.logo-img {
	margin-top: 6px;
}

footer.page-footer {
	background: #222;
	padding-top: 10em;
	-webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
	        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
	.footer-copyright {
		background: #29ABE2;
	}
}

img.circle {
	width: 36px;
	margin: 0 6px 0 0;
	float: left;
}

ul>li:hover {
	background: #29ABE2 !important;
}

ul>li.active {
	background: #29ABE2 !important;
}

.blog-meta:hover {
	background: #222;
	.blog-title:hover {
		background: #222 !important;
	}
	.blog-date:hover {
		background: #222 !important;
	}
}

body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
main {
	-webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

@media (max-width: 992px) {
	.logo-img {
		margin-right: 5em;
		padding-top: 0.05em;
	}
	a.logo-text {
		//margin-top: 0.25em;
		padding-top: 0.15em;
	}
}

@media (max-width: 600px) {
	.logo-img {
		margin-right: 5em;
		margin-top: 2px;
	}
	a.logo-text {
		margin-top: 0;
		padding-top: 0.6em;
	}
}

@media (max-width: 480px) {
	.logo-img {
		margin-right: 3.5em;
		padding-top: 0.05em;
		width: 40px;
	}
	a.logo-text {
		padding-left: 1em;
		padding-top: 0.5em;
		font-size: 1em;
	}
}

@media (max-width: 400px) {
	.logo-img {
		margin-right: 3.5em;
		padding-top: 0.05em;
		width: 40px;
	}
	a.logo-text {
		padding-left: 1em;
		padding-top: 0.5em;
		font-size: 1em;
	}
}

@media (max-width: 350px) {
	.logo-img {
		margin-right: 2.0em;
		padding-top: 0.15em;
		width: 40px;
	}
	a.logo-text {
		//margin-top: 0;
		padding-top: 0.5em;
		font-size: 1em;
	}
}


